<template>
  <div>
    <div class="field-todo">
      <input type="text" placeholder="Insert your name"
        v-model="todo.description">
      <button type="button"
        @click="insert(todo)">
        Insert
      </button>
    </div>
    <div class="list-todos">
      <div class="todo"
        >
        <table>
          <th>
            <td>DESCRIPTION</td>
          </th>
          <tr
            v-for="(item, index) in listTodos"
            :key="index">
            <td>{{ item.description.toUpperCase() }}</td>
            <td>
              <button type="button"
                @click="edit( item, index )">
                edit
              </button>
              <button type="button"
                @click="remove( index )">
                remove
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Dashboard',
  data () {
    return {
      listTodos: [],
      todo: { description: '', editMode: false }
    }
  },
  methods: {
    insert: function (item) {
      if (item.editMode) {
        item.editMode = false
        this.listTodos[item.index] = item
        this.cleanTodo()
        return;
      }
      this.listTodos.push(item)
      this.cleanTodo()
    },
    remove: function (item, index) {
      this.listTodos.splice(index, 1)
    },
    edit: function (item, index) {
      this.todo = { ...item, index: index }
      this.todo.editMode = true
    },
    cleanTodo: function () {
      this.todo = {}
    }
  }
}
</script>

<style scoped>
</style>
